<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h1>Educación:</h1>
    </div>
    <div class="col-lg-7"></div>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
        <ul>
            <li>
                <h1>Estudio 1</h1> - 
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, voluptate labore, beatae fuga quo molestiae, delectus debitis cupiditate modi enim dignissimos dolore repudiandae possimus. Ipsum voluptate delectus quam numquam earum.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - 
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, voluptate labore, beatae fuga quo molestiae, delectus debitis cupiditate modi enim dignissimos dolore repudiandae possimus. Ipsum voluptate delectus quam numquam earum.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - 
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, voluptate labore, beatae fuga quo molestiae, delectus debitis cupiditate modi enim dignissimos dolore repudiandae possimus. Ipsum voluptate delectus quam numquam earum.</p>
        </ul>
    </div>
    <div class="col-lg-6"><img src="../../../assets/study.png" class="img-fluid mx-auto d-block" id="study" alt=""></div>
</div>