<div class="row">
    <h1 class="text-center">Proyectos:</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 parte1">
        <h4>Portfolio Web.</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui laudantium inventore magnam repudiandae commodi iste nostrum nisi excepturi placeat culpa, maiores sed ut debitis quaerat impedit repellendus, saepe, perferendis tempore!</p>
    </div>
    <div class="col-lg-6 parte2">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img src="../../../assets/AP.jpg" class="img-fluid mx-auto d-block" id="proyecto"></a>
    </div>
</div>